<?xml version="1.0" encoding="UTF-8"?>

<!-- ########################################

 # DR400-dauphin by PAF team
 # April 2012 : Modified by PAF team
 # http://equipe-flightgear.forumactif.com

##########################################-->

<PropertyList>

  <default>
    <menu n="10">
      <label>Robin DR400-dauphin</label>
      <enabled type="bool">true</enabled>
      <item>
        <label>Options</label>
        <binding>
          <command>nasal</command>
          <script>dr400.config_dlg.open()</script>
        </binding>
      </item>
      <item>
        <label>Autostart</label>
        <binding>
          <command>property-toggle</command>
          <property>sim/model/start-idling</property>
        </binding>
      </item>
      <item>
        <label>Electric</label>
        <binding>
          <command>nasal</command>
          <script>dr400.electric_dlg.open()</script>
        </binding>
      </item>
    </menu>
  </default>

</PropertyList>
